$pc: 960px;
$tab: 768px;
$sp: 576px;

@mixin pc {
  @media screen and (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media screen and (max-width: ($tab)) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}
